<div class="container-fluid ml-2 mb-2">

<h3 class="col-11 pb-2">Your personal Bali's pocket guide in a few words:</h3>
<p class="col-11 pb-2">Explore Bali with a Knowledgeable Local Guide and See What Others Miss! Avoid the Crowds. First Class Experience. Better Than a Bus Tour. 24 Hour Tour Cancellation. You can choose from a long list of fantastic Bali destination.
<br>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>
