<div id="mainDIVblog" class="container">
  <h3 class="text-center mb-5">Find here our selection of the best travel Blogs in English, German and French</h3>
  <div class="row">

      <div class="slideContainer col-3 posit">
          <div class="slide" *ngFor="let i of [1,2,3,4,5,6,7,8]">
              <img [id]="i" [src]="'/assets/img/carousell/car'+i+'.jpg'" alt="Bali slide">
          </div>
       </div>


    <div id="EN" class="col-3 pt-5">
      <h5 class="pb-4 pt-5">Blog selection in English:</h5>
      <ul class="list-group">
        <a class=" pb-2"href="https://asianwanderlust.com/en/best-bali-restaurants/" target="_blank">
          <li class="list-group-item list-group-item-action">Restaurants in Bali</li>
        </a>

        <a class=" pb-2"href="https://asianwanderlust.com/en/hostel-bali/" target="_blank">
          <li class="list-group-item list-group-item-action">Hostel in Bali</li>
        </a>

        <a class=" pb-2"href="https://theblondeabroad.com/ultimate-bali-travel-guide/" target="_blank">
          <li class="list-group-item list-group-item-action">Travel Guide - Bali</li>
        </a>

      </ul>
    </div>

    <div id="DE" class="col-3  pt-5" >
      <h5 class="pb-4  pt-5">Blog selection in German:</h5>
      <ul class="list-group">
        <a class=" pb-2"href="https://rucksacktraeger.com/fakten-ueber-bali/" target="_blank">
          <li class="list-group-item list-group-item-action">Bali - Fakten</li>
        </a>

        <a class=" pb-2"href="https://www.travelontoast.de/bali-geheimtipps/" target="_blank">
          <li class="list-group-item list-group-item-action">Bali's Geheimtipps</li>
        </a>

        <a class=" pb-2"href="https://viel-unterwegs.de/reiseberichte/asien/indonesien/bali/" target="_blank">
          <li class="list-group-item list-group-item-action">Reiseberichte - Bali</li>
        </a>

      </ul>
    </div>

    <div id="FR" class="col-3  pt-5" >
      <h5 class="pb-4  pt-5">Blog selection in French:</h5>
      <ul class="list-group " >
        <a class=" pb-2" href="https://www.lovetrotters.net/2017/07/31/voyage-a-bali-hors-des-sentiers-battus/" target="_blank">
          <li class="list-group-item list-group-item-action ">Bali - Hors des sentiers battus</li>
        </a>

        <a class=" pb-2"href="https://www.lovetrotters.net/2015/10/08/tourisme-communautaire-trek-au-village-de-wae-rebo-flores/" target="_blank">
          <li class="list-group-item list-group-item-action">Trekking à Bali</li>
        </a>

        <a class=" pb-2"href="https://asianwanderlust.com/que-faire-a-bali/" target="_blank">
          <li class="list-group-item list-group-item-action">Que faire à Bali</li>
        </a>

      </ul>
    </div>
  </div>
</div>
