<div class="jumbotron jumbotron-fluid bg-light">


  <div class="container text-white ">

    <h1 class="display-4 pt-4 text-center font-weight-bold">Welcome to Bali's Pocket Guide</h1>
      <hr class="my-4">
          <p class=" font-weight-bold">We are giving people a taste of Bali they won’t soon forget by exposing them to real food, people and neighbourhoods. Our mission is to leave travelers with an unparalleled, non-touristy (beside sight seeing ^^ ),experience in undiscovered neighborhoods of the most wonderful places of Bali.</p>
              <hr class="my-4">
                    <a class="btn btn-light justify-content-center" routerLink="/Travels" target="" role="button">Contact us</a>

  </div>
